.biodata {
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
  color: #222;
}

.biodata h1 {
  text-align: center;
  color: #1E5176;
  margin-bottom: 25px;
}

.biodata-item {
  display: flex;
  width: 100%;
  border-bottom: 1px dashed #999dc3;
  padding: 10px 0;
}

.biodata-item p {
  width: 48%;
  margin: 0;
  font-size: 1rem;
}

.biodata-item strong {
  color: #1E5176;
}


.btn-bio {
  background-color: #1E5176;
  color: white;
  border: none;
  padding: 8px 18px;
  margin: 0 6px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
}

.btn-bio:hover {
  background-color: #2b6da3;
}

.btn-bio.active {
  background-color: #14405d;
}
