body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
    transition: all 0.5s ease;
}

.container.collapsed{
    grid-template-columns: 70px 1fr;
    transition: all 0.5s ease;
}

.container .page{
    height: 100%;
    padding-left: 20px;
    background-color: #B6D4F0;
    overflow: auto  ;
}
