.grafik-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: calc(100vh - 40px);
    padding: 20px;
    text-align: center;
}

.button-area {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.button-area button {
    padding: 10px 15px;
    border: none;
    background: #eee;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
}

.button-area button.active {
    background: #037cb4;
    color: white;
}

.chart-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.chart-box{
    width: 50%;
    height: 80%;
    background-color: #037cb4;
    display: flex;
    justify-content: center;
    align-self: center;
}
